#deleteMsg{
    display: none;
}
.elsePart{
    width: 100%;
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#seemore{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
p::-webkit-scrollbar{
    display: none;
}